body {
    text-align: center;
    font-size: 18px;;
    padding: 3rem;
}

.dot1 {
    height: 200px;
    width: 200px;
    background-color: rgb(163, 150, 150);
    border-radius: 50%;
    display: inline-block;
  }

  .dot2 {
    height: 200px;
    width: 200px;
    background-color: rgb(250, 246, 246);
    border-radius: 50%;
    display: inline-block;
  }

  .dot3 {
    height: 200px;
    width: 200px;
    background-color: rgb(17, 21, 223);
    border-radius: 50%;
    display: inline-block;
  }

  .dot4 {
    height: 200px;
    width: 200px;
    background-color: rgb(230, 216, 24);
    border-radius: 50%;
    display: inline-block;
  }